{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Bienvenue {{ app.user.nom }}</h1>
        </div>
        <a href="{{ path('app_modifications') }}">Mettre à jour les informations du compte</a>
    </div>
{% endblock %}
