{% extends 'layouts/base.html.twig' %}

{% block body %}
    <h1>Mon compte</h1>
    <p>Bienvenue {{ app.user.nom }} dans votre espace client !<br>
    Ici, vous pouvez gérer vos informations personnelles.</p>
    <hr>
    - <a href="{{ path('app_modifications') }}">Mettre à jour votre mot de passe</a><br>
    - <a href="{{ path('app_adresse') }}">Mettre à jour vos adresses de livraison</a>
{% endblock %}
