{% extends 'layouts/base.html.twig' %}

{% block body %}
<div>
    <img src="/uploads/accueil.png" alt="accueil" height="10px" class="img-fluid">
    <br /><br />
    <p>Depuis 100 ans, PROMER vous propose une large gamme de détergents et produits d'entretien. 
    Qualité, sécurité et environnement font partie des piliers de Promer pour vous offrir des produits 
    alliant technologie et performance. Entreprise familiale engagée, nous plaçons votre satisfaction 
    au cœur de notre métier.</p>
</div>
{% endblock %}
