{% extends 'layouts/base.html.twig' %}

{% block title %}Mail de réinitialisation envoyé !{% endblock %}

{% block body %}
    <h2 class="text-center mb-3">Mail de réinitialisation envoyé !</h2>

    <p>Un email contenant un lien permettant de réinitialiser votre mot de passe vous a été envoyé. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous ne recevez pas cet email, veuillez vérifier dans votre dossier de courriers indésirables ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
