{% extends 'layouts/base.html.twig' %}

{% block title %}Notre entreprise{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            <img src="/uploads/louis_mercier.png" alt="accueil" height="10px" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h1 class="text-center">HISTOIRE ET VALEURS DE PROMER</h1>
            <br />
            <h3>100 ANS D'HISTOIRE</h3>
            <p>Fondée par Louis MERCIER en 1913, Promer est toujours restée une entreprise familiale. Pendant les 
            deux guerres, les épouses des patrons ont porté l'entreprise alors que les hommes étaient la guerre.</p>
            <p>Promer a ainsi traversé plusieurs phases&nbsp;: d'abord avec les cristaux de soude (nos murs s'en 
            souviennent&nbsp;!), puis avec l'eau de Javel. Précisément, la force du métier de l'eau de Javel 
            était la fabrication et l'entretien des machines, car c'est un produit très corrosif qui abîme 
            tous les métaux. Nous avons su conserver cet atout lors de nos diversifications pour fabriquer, 
            modifier et optimiser notre outil industriel de manière à toujours satisfaire nos clients. Cette 
            appréhension de notre métier nous permet de nous singulariser et d'assurer un service 
            toujours plus performant.</p>
            <p>Cette organisation rigoureuse nous a permis d'être certifiés ISO 9001 et 14001. C'est pourquoi bon 
            nombre de nos clients nous sont fidèles depuis plus de 50 ans. Cela a été le cas pour pour l'eau de 
            Javel en 1950, pour les produits bricolage en poudre en 1970, pour la fabrication de petites séries 
            en mdd en 2005, pour le remplissage de dosettes en mdd en 2012, puis de poches en 2016, et qui sait 
            demain&nbsp;...</p>
            <br />
            <h3>NOS VALEURS</h3>
            <p>Conscients des risques inhérents à notre activité, nous accordons une importance particulière 
            à la protection de l'environnement et au respect des normes. Rigueur et flexibilité omniprésentes 
            nous amènent régulièrement à une amélioration de notre offre. Optimisant en interne nos compétences, 
            nous cultivons ces atouts qui font notre force.</p>
        </div>
    </div>

{% endblock %}
